<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <form th:method="POST" th:action="@{/}" th:object="${user}">
    <tr>
      <td><label for="name">Name: </label></td>
      <td><input type="text" th:field="*{name}" id="name"/></td>
    </tr>
    <tr>
      <td><label for="age">Age: </label></td>
      <td><input type="text" th:field="*{age}" id="age"/></td>
    </tr>
    <tr>
      <input type="submit" value="Create">
    </tr>
  </form>
  </tbody>
</table>
</body>
</html>